<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebApplication</display-name>
  <welcome-file-list>
    <welcome-file>jsps/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>registration</servlet-name>
    <servlet-class>org.web.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getReservationEventBasedOnId</servlet-name>
    <servlet-class>org.web.servlets.GetReservationDataBasedOnID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReservationEventBasedOnId</servlet-name>
    <url-pattern>/getReservationEventBasedOnId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetIndexDataSubmitted</servlet-name>
    <servlet-class>org.web.servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIndexDataSubmitted</servlet-name>
    <url-pattern>/GetIndexDataSubmitted</url-pattern>
  </servlet-mapping>
</web-app>